<% content_for :head do %>
  <title>Longitude - <%= @route.name %> </title>
<% end %>

<h1>Route: <%= @route.name %></h1>

<h2>Locations:</h2>
<table>
  <% @route.locations.each do |l|%>
    <tr>
      <td>
        <%= l.latitude %>
      </td>
      <td>
        <%= l.longitude %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add location', new_route_location_url( @route ) %>
<%= link_to 'My routes', :controller => :routes, :action => :index %>
