<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag :all %>
  <%= yield :head %>
</head>
<body>

<%= render :partial => "shared/user_nav", :locals => {:current_user => current_user} %>
<%= render :partial => "shared/flash_messages", :locals => {:flash => flash}%>
<%= link_to :documentation, :documentation %>

<%= yield %>

</body>
</html>
